<head>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="/js/dropzone.js"></script>
    <script src="/webjars/jquery/2.2.1/jquery.min.js"></script>
    <style>
        body {
            font: 12px Arial, sans-serif;
        }

        #dropZone {
            color: #555;
            font-size: 18px;
            text-align: center;

            width: 400px;
            padding: 50px 0;
            margin: 50px auto;

            background: #eee;
            border: 1px solid #ccc;

            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

        #dropZone.hover {
            background: #ddd;
            border-color: #aaa;
        }

        #dropZone.error {
            background: #faa;
            border-color: #f00;
        }

        #dropZone.drop {
            background: #afa;
            border-color: #0f0;
        }
    </style>
</head>
<form action="/upload.php">
    <table class="table">
        <tr>
            <th class="tg-yw4l" rowspan="5" width="400">
                <div id="dropZone">
                    Перетащить сюда
                </div>
            </th>
            <th class="tg-yw4l">
            </th>
        </tr>
        <tr>
            <td class="tg-yw4l">
                <div id="input">Label:</div>
                <input type="text" id="label"></td>
        </tr>
        <tr>
            <td class="tg-yw4l">
                <div id="input">Tag:</div>
                <input type="text" id="tag"></td>
        </tr>
        <tr>
            <td class="tg-yw4l">
                <div id="input">Caption:</div>
                <input type="text" id="caption"></td>
        </tr>
        <tr>
            <td class="tg-yw4l">
                <button type="submit" class="btn-success" style="float: right">submit</button>
            </td>
        </tr>
    </table>
</form>
<script>
    $(document).ready(function () {

        var dropZone = $('#dropZone'),
                maxFileSize = 1000000; // максимальный размер фалйа - 1 мб.

        // Проверка поддержки браузером
        if (typeof(window.FileReader) == 'undefined') {
            dropZone.text('Не поддерживается браузером!');
            dropZone.addClass('error');
        }

        // Добавляем класс hover при наведении
        dropZone[0].ondragover = function () {
            dropZone.addClass('hover');
            return false;
        };

        // Убираем класс hover
        dropZone[0].ondragleave = function () {
            dropZone.removeClass('hover');
            return false;
        };

        // Обрабатываем событие Drop
        dropZone[0].ondrop = function (event) {
            event.preventDefault();
            dropZone.removeClass('hover');
            dropZone.addClass('drop');

            var file = event.dataTransfer.files[0];

            // Проверяем размер файла
            if (file.size > maxFileSize) {
                dropZone.text('Файл слишком большой!');
                dropZone.addClass('error');
                return false;
            }

            // Создаем запрос
            var xhr = new XMLHttpRequest();
            xhr.upload.addEventListener('progress', uploadProgress, false);
            xhr.onreadystatechange = stateChange;
            xhr.open('POST', '/images/upload');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded;');
            xhr.setAttribute('op', 'add');
            xhr.setAttribute('file', file.name);
            xhr.setAttribute("label", $(#label
            ).
            text
            )
            ;
            xhr.setAttribute('tag', $(#tag
            ).
            text
            )
            ;
            xhr.setAttribute('caption', $(#caption
            ).
            text
            )
            ;
            xhr.send(file);
        };

        // Показываем процент загрузки
        function uploadProgress(event) {
            var percent = parseInt(event.loaded / event.total * 100);
            dropZone.text('Загрузка: ' + percent + '%');
        }

        // Пост обрабочик
        function stateChange(event) {
            if (event.target.readyState == 4) {
                if (event.target.status == 200) {
                    dropZone.text('Загрузка успешно завершена!');
                } else {
                    dropZone.text('Произошла ошибка!');
                    dropZone.addClass('error');
                }
            }
        }

    });
</script>