<!DOCTYPE html>
<html>
<head>
    <title>$title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-language" content="ru">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta name="robots" content="index,follow">
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/webjars/jquery/2.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .col-sm-1, .col-sm-4, .col-sm-6, .col-sm-8 {
            outline: 1px solid orange;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="col-sm-4">
                a
            </div>
            <div class="col-sm-8">
                <div class="col-sm-8">
                    a
                </div>
                <div class="col-sm-8">
                    a
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="col-sm-1">
                asedas
            </div>
            <div class="col-sm-4">
                <div>
                    a
                </div>
                <div class="col-sm-6">
                    a
                </div>
                <div class="col-sm-6">
                    a
                </div>
            </div>
            <div class="col-sm-4">
                a
            </div>
        </div>
    </div>
</div>
</body>
</html>